[package]
name = "activitypub_federation"
version = "0.5.1"
edition = "2021"
description = "High-level Activitypub framework"
keywords = ["activitypub", "activitystreams", "federation", "fediverse"]
license = "AGPL-3.0"
repository = "https://github.com/LemmyNet/activitypub-federation-rust"
documentation = "https://docs.rs/activitypub_federation/"

[features]
default = ["actix-web", "axum"]
actix-web = ["dep:actix-web"]
axum = ["dep:axum", "dep:tower", "dep:hyper", "dep:http-body-util"]
diesel = ["dep:diesel"]

[dependencies]
chrono = { version = "0.4.34", features = ["clock"], default-features = false }
serde = { version = "1.0.197", features = ["derive"] }
async-trait = "0.1.77"
url = { version = "2.5.0", features = ["serde"] }
serde_json = { version = "1.0.114", features = ["preserve_order"] }
reqwest = { version = "0.11.24", features = ["json", "stream"] }
reqwest-middleware = "0.2.4"
tracing = "0.1.40"
base64 = "0.21.7"
openssl = "0.10.64"
once_cell = "1.19.0"
http = "1.0.0"
sha2 = "0.10.8"
thiserror = "1.0.57"
derive_builder = "0.12.0"
itertools = "0.12.1"
dyn-clone = "1.0.17"
enum_delegate = "0.2.0"
httpdate = "1.0.3"
http-signature-normalization-reqwest = { version = "0.10.0", default-features = false, features = [
  "default-spawner",
  "sha-2",
  "middleware",
  "default-spawner",
] }
http-signature-normalization = "0.7.0"
bytes = "1.5.0"
futures-core = { version = "0.3.30", default-features = false }
pin-project-lite = "0.2.13"
activitystreams-kinds = "0.3.0"
regex = { version = "1.10.3", default-features = false, features = ["std", "unicode-case"] }
tokio = { version = "1.36.0", features = [
  "sync",
  "rt",
  "rt-multi-thread",
  "time",
] }
diesel = { version = "2.1.4", features = ["postgres"], default-features = false, optional = true }
futures = "0.3.30"
moka = { version = "0.12.5", features = ["future"] }

# Actix-web
actix-web = { version = "4.5.1", default-features = false, optional = true }

# Axum
axum = { git = "https://github.com/tokio-rs/axum.git", features = [
  "json",
], default-features = false, optional = true }
tower = { version = "0.4.13", optional = true }
hyper = { version = "1.1.0", optional = true }
http-body-util = {version = "0.1.0", optional = true }

[dev-dependencies]
anyhow = "1.0.80"
rand = "0.8.5"
env_logger = "0.10.2"
tower-http = { version = "0.5.2", features = ["map-request-body", "util"] }
axum = { git = "https://github.com/tokio-rs/axum.git", features = [
  "http1",
  "tokio",
  "query",
], default-features = false }
axum-macros = { git = "https://github.com/tokio-rs/axum.git" }
tokio = { version = "1.36.0", features = ["full"] }

[profile.dev]
strip = "symbols"
debug = 0

[[example]]
name = "local_federation"
path = "examples/local_federation/main.rs"

[[example]]
name = "live_federation"
path = "examples/live_federation/main.rs"
